--
-- PostgreSQL database dump
--

\restrict 1jnTGufhyd8agXpPck9LTUhrVugf26OyhM3DkxPBHPTL0l1lYiYEJhljgJ2VRqT

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: asset_assignments; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.asset_assignments (
    id integer NOT NULL,
    asset_id integer,
    assigned_to integer,
    assigned_by integer,
    department_id integer,
    assigned_date date DEFAULT CURRENT_DATE,
    status character varying(50) DEFAULT 'active'::character varying,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    request_id integer,
    request_item_id integer
);


ALTER TABLE public.asset_assignments OWNER TO asset_user;

--
-- Name: asset_assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.asset_assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asset_assignments_id_seq OWNER TO asset_user;

--
-- Name: asset_assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.asset_assignments_id_seq OWNED BY public.asset_assignments.id;


--
-- Name: asset_categories; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.asset_categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    specialist_department_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.asset_categories OWNER TO asset_user;

--
-- Name: asset_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.asset_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asset_categories_id_seq OWNER TO asset_user;

--
-- Name: asset_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.asset_categories_id_seq OWNED BY public.asset_categories.id;


--
-- Name: asset_movements; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.asset_movements (
    id integer NOT NULL,
    asset_id integer,
    gate_pass_id integer,
    from_location character varying(100),
    to_location character varying(100),
    moved_by integer,
    movement_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    notes text
);


ALTER TABLE public.asset_movements OWNER TO asset_user;

--
-- Name: asset_movements_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.asset_movements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asset_movements_id_seq OWNER TO asset_user;

--
-- Name: asset_movements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.asset_movements_id_seq OWNED BY public.asset_movements.id;


--
-- Name: asset_request_items; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.asset_request_items (
    id integer NOT NULL,
    request_id integer,
    category_id integer,
    asset_id integer,
    quantity integer NOT NULL,
    specifications text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fulfilled_quantity integer DEFAULT 0,
    selected_asset_ids integer[] DEFAULT '{}'::integer[]
);


ALTER TABLE public.asset_request_items OWNER TO asset_user;

--
-- Name: asset_request_items_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.asset_request_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asset_request_items_id_seq OWNER TO asset_user;

--
-- Name: asset_request_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.asset_request_items_id_seq OWNED BY public.asset_request_items.id;


--
-- Name: asset_request_owner_approvals; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.asset_request_owner_approvals (
    id integer NOT NULL,
    request_id integer NOT NULL,
    owner_department_id integer NOT NULL,
    approved_by integer,
    approved_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    notes text
);


ALTER TABLE public.asset_request_owner_approvals OWNER TO asset_user;

--
-- Name: asset_request_owner_approvals_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.asset_request_owner_approvals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asset_request_owner_approvals_id_seq OWNER TO asset_user;

--
-- Name: asset_request_owner_approvals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.asset_request_owner_approvals_id_seq OWNED BY public.asset_request_owner_approvals.id;


--
-- Name: asset_requests; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.asset_requests (
    id integer NOT NULL,
    request_number character varying(50) NOT NULL,
    requested_by integer,
    department_id integer,
    justification text,
    urgency character varying(20) DEFAULT 'medium'::character varying,
    status character varying(50) DEFAULT 'pending_head'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    assigned_to integer,
    fulfilled_at timestamp without time zone
);


ALTER TABLE public.asset_requests OWNER TO asset_user;

--
-- Name: asset_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.asset_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asset_requests_id_seq OWNER TO asset_user;

--
-- Name: asset_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.asset_requests_id_seq OWNED BY public.asset_requests.id;


--
-- Name: assets; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.assets (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    category_id integer,
    serial_number character varying(100),
    model character varying(100),
    brand character varying(100),
    purchase_date date,
    purchase_cost numeric(10,2),
    current_location character varying(100),
    status character varying(50) DEFAULT 'available'::character varying,
    condition character varying(50) DEFAULT 'good'::character varying,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    store_department_id integer
);


ALTER TABLE public.assets OWNER TO asset_user;

--
-- Name: assets_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.assets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assets_id_seq OWNER TO asset_user;

--
-- Name: assets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.assets_id_seq OWNED BY public.assets.id;


--
-- Name: assignment_history; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.assignment_history (
    id integer NOT NULL,
    assignment_id integer,
    asset_id integer,
    from_user integer,
    to_user integer,
    performed_by integer,
    action character varying(100) NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.assignment_history OWNER TO asset_user;

--
-- Name: assignment_history_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.assignment_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assignment_history_id_seq OWNER TO asset_user;

--
-- Name: assignment_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.assignment_history_id_seq OWNED BY public.assignment_history.id;


--
-- Name: department_categories; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.department_categories (
    id integer NOT NULL,
    department_id integer NOT NULL,
    category_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.department_categories OWNER TO asset_user;

--
-- Name: department_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.department_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.department_categories_id_seq OWNER TO asset_user;

--
-- Name: department_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.department_categories_id_seq OWNED BY public.department_categories.id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.departments (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.departments OWNER TO asset_user;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.departments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_id_seq OWNER TO asset_user;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: gate_pass_timeline; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.gate_pass_timeline (
    id integer NOT NULL,
    gate_pass_id integer,
    actor_id integer,
    actor_role character varying(50),
    action character varying(100) NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.gate_pass_timeline OWNER TO asset_user;

--
-- Name: gate_pass_timeline_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.gate_pass_timeline_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gate_pass_timeline_id_seq OWNER TO asset_user;

--
-- Name: gate_pass_timeline_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.gate_pass_timeline_id_seq OWNED BY public.gate_pass_timeline.id;


--
-- Name: gate_passes; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.gate_passes (
    id integer NOT NULL,
    gate_pass_number character varying(50) NOT NULL,
    asset_id integer,
    employee_id integer,
    from_location character varying(100) NOT NULL,
    to_location character varying(100) NOT NULL,
    reason text NOT NULL,
    departure_date date NOT NULL,
    expected_return_date date,
    actual_return_date date,
    status character varying(50) DEFAULT 'pending_head'::character varying,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    pass_token character varying(64),
    activated_at timestamp without time zone,
    no_return boolean DEFAULT false
);


ALTER TABLE public.gate_passes OWNER TO asset_user;

--
-- Name: gate_passes_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.gate_passes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gate_passes_id_seq OWNER TO asset_user;

--
-- Name: gate_passes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.gate_passes_id_seq OWNED BY public.gate_passes.id;


--
-- Name: inventory_transactions; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.inventory_transactions (
    id integer NOT NULL,
    asset_id integer,
    transaction_type character varying(50) NOT NULL,
    quantity integer DEFAULT 1,
    from_location character varying(100),
    to_location character varying(100),
    performed_by integer,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.inventory_transactions OWNER TO asset_user;

--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.inventory_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventory_transactions_id_seq OWNER TO asset_user;

--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.inventory_transactions_id_seq OWNED BY public.inventory_transactions.id;


--
-- Name: issue_reports; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.issue_reports (
    id integer NOT NULL,
    report_number character varying(50) NOT NULL,
    asset_id integer,
    reported_by integer,
    issue_type character varying(50) NOT NULL,
    description text NOT NULL,
    status character varying(50) DEFAULT 'pending_head'::character varying,
    resolution_outcome character varying(50),
    resolution_notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    attachment character varying(255),
    assessment_recommendation character varying(50)
);


ALTER TABLE public.issue_reports OWNER TO asset_user;

--
-- Name: issue_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.issue_reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.issue_reports_id_seq OWNER TO asset_user;

--
-- Name: issue_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.issue_reports_id_seq OWNED BY public.issue_reports.id;


--
-- Name: issue_timeline; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.issue_timeline (
    id integer NOT NULL,
    issue_report_id integer,
    actor_id integer,
    actor_role character varying(50),
    action character varying(100) NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.issue_timeline OWNER TO asset_user;

--
-- Name: issue_timeline_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.issue_timeline_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.issue_timeline_id_seq OWNER TO asset_user;

--
-- Name: issue_timeline_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.issue_timeline_id_seq OWNED BY public.issue_timeline.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    type character varying(50),
    is_read boolean DEFAULT false,
    related_entity_type character varying(50),
    related_entity_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notifications OWNER TO asset_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO asset_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: request_timeline; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.request_timeline (
    id integer NOT NULL,
    request_id integer,
    actor_id integer,
    actor_role character varying(50),
    action character varying(100) NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.request_timeline OWNER TO asset_user;

--
-- Name: request_timeline_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.request_timeline_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.request_timeline_id_seq OWNER TO asset_user;

--
-- Name: request_timeline_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.request_timeline_id_seq OWNED BY public.request_timeline.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.roles OWNER TO asset_user;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO asset_user;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: asset_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    username character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    email character varying(255),
    role_id integer,
    department_id integer,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO asset_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: asset_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO asset_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: asset_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: asset_assignments id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_assignments ALTER COLUMN id SET DEFAULT nextval('public.asset_assignments_id_seq'::regclass);


--
-- Name: asset_categories id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_categories ALTER COLUMN id SET DEFAULT nextval('public.asset_categories_id_seq'::regclass);


--
-- Name: asset_movements id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_movements ALTER COLUMN id SET DEFAULT nextval('public.asset_movements_id_seq'::regclass);


--
-- Name: asset_request_items id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_request_items ALTER COLUMN id SET DEFAULT nextval('public.asset_request_items_id_seq'::regclass);


--
-- Name: asset_request_owner_approvals id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_request_owner_approvals ALTER COLUMN id SET DEFAULT nextval('public.asset_request_owner_approvals_id_seq'::regclass);


--
-- Name: asset_requests id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_requests ALTER COLUMN id SET DEFAULT nextval('public.asset_requests_id_seq'::regclass);


--
-- Name: assets id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assets ALTER COLUMN id SET DEFAULT nextval('public.assets_id_seq'::regclass);


--
-- Name: assignment_history id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assignment_history ALTER COLUMN id SET DEFAULT nextval('public.assignment_history_id_seq'::regclass);


--
-- Name: department_categories id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.department_categories ALTER COLUMN id SET DEFAULT nextval('public.department_categories_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: gate_pass_timeline id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.gate_pass_timeline ALTER COLUMN id SET DEFAULT nextval('public.gate_pass_timeline_id_seq'::regclass);


--
-- Name: gate_passes id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.gate_passes ALTER COLUMN id SET DEFAULT nextval('public.gate_passes_id_seq'::regclass);


--
-- Name: inventory_transactions id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_transactions ALTER COLUMN id SET DEFAULT nextval('public.inventory_transactions_id_seq'::regclass);


--
-- Name: issue_reports id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.issue_reports ALTER COLUMN id SET DEFAULT nextval('public.issue_reports_id_seq'::regclass);


--
-- Name: issue_timeline id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.issue_timeline ALTER COLUMN id SET DEFAULT nextval('public.issue_timeline_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: request_timeline id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.request_timeline ALTER COLUMN id SET DEFAULT nextval('public.request_timeline_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: asset_assignments; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: asset_categories; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: asset_movements; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: asset_request_items; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: asset_request_owner_approvals; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: asset_requests; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: assignment_history; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: department_categories; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: gate_pass_timeline; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: gate_passes; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: inventory_transactions; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: issue_reports; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: issue_timeline; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: asset_user
--

COPY public.notifications (id, user_id, title, message, type, is_read, related_entity_type, related_entity_id, created_at) FROM stdin;
\.


--
-- Data for Name: request_timeline; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: asset_user
--

COPY public.roles (id, name, description, created_at) FROM stdin;
1	employee	Regular employee	2026-06-25 23:19:48.563107
2	head	Department head/manager	2026-06-25 23:19:48.563107
3	specialist	Specialist department for approvals	2026-06-25 23:19:48.563107
5	hr	Human Resources - manages employees and departments	2026-06-26 00:30:37.912781
25	inventory	Inventory department ΓÇö manages assets and categories	2026-07-27 21:32:20.544148
26	hse	Health, Safety & Environment reviewer	2026-07-27 21:32:20.544148
27	super_admin	System super administrator	2026-07-27 21:32:20.544148
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: asset_user
--



--
-- Name: asset_assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.asset_assignments_id_seq', 58, true);


--
-- Name: asset_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.asset_categories_id_seq', 30, true);


--
-- Name: asset_movements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.asset_movements_id_seq', 14, true);


--
-- Name: asset_request_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.asset_request_items_id_seq', 34, true);


--
-- Name: asset_request_owner_approvals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.asset_request_owner_approvals_id_seq', 27, true);


--
-- Name: asset_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.asset_requests_id_seq', 45, true);


--
-- Name: assets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.assets_id_seq', 22, true);


--
-- Name: assignment_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.assignment_history_id_seq', 19, true);


--
-- Name: department_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.department_categories_id_seq', 144, true);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.departments_id_seq', 17, true);


--
-- Name: gate_pass_timeline_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.gate_pass_timeline_id_seq', 58, true);


--
-- Name: gate_passes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.gate_passes_id_seq', 14, true);


--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.inventory_transactions_id_seq', 13, true);


--
-- Name: issue_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.issue_reports_id_seq', 11, true);


--
-- Name: issue_timeline_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.issue_timeline_id_seq', 48, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: request_timeline_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.request_timeline_id_seq', 111, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.roles_id_seq', 27, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: asset_user
--

SELECT pg_catalog.setval('public.users_id_seq', 18, true);


--
-- Name: asset_assignments asset_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_assignments
    ADD CONSTRAINT asset_assignments_pkey PRIMARY KEY (id);


--
-- Name: asset_categories asset_categories_name_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_categories
    ADD CONSTRAINT asset_categories_name_key UNIQUE (name);


--
-- Name: asset_categories asset_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_categories
    ADD CONSTRAINT asset_categories_pkey PRIMARY KEY (id);


--
-- Name: asset_movements asset_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_movements
    ADD CONSTRAINT asset_movements_pkey PRIMARY KEY (id);


--
-- Name: asset_request_items asset_request_items_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_request_items
    ADD CONSTRAINT asset_request_items_pkey PRIMARY KEY (id);


--
-- Name: asset_request_owner_approvals asset_request_owner_approvals_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_request_owner_approvals
    ADD CONSTRAINT asset_request_owner_approvals_pkey PRIMARY KEY (id);


--
-- Name: asset_request_owner_approvals asset_request_owner_approvals_request_id_owner_department_i_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_request_owner_approvals
    ADD CONSTRAINT asset_request_owner_approvals_request_id_owner_department_i_key UNIQUE (request_id, owner_department_id);


--
-- Name: asset_requests asset_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_requests
    ADD CONSTRAINT asset_requests_pkey PRIMARY KEY (id);


--
-- Name: asset_requests asset_requests_request_number_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_requests
    ADD CONSTRAINT asset_requests_request_number_key UNIQUE (request_number);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (id);


--
-- Name: assets assets_serial_number_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_serial_number_key UNIQUE (serial_number);


--
-- Name: assignment_history assignment_history_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assignment_history
    ADD CONSTRAINT assignment_history_pkey PRIMARY KEY (id);


--
-- Name: department_categories department_categories_department_id_category_id_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.department_categories
    ADD CONSTRAINT department_categories_department_id_category_id_key UNIQUE (department_id, category_id);


--
-- Name: department_categories department_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.department_categories
    ADD CONSTRAINT department_categories_pkey PRIMARY KEY (id);


--
-- Name: departments departments_name_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_name_key UNIQUE (name);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: gate_pass_timeline gate_pass_timeline_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.gate_pass_timeline
    ADD CONSTRAINT gate_pass_timeline_pkey PRIMARY KEY (id);


--
-- Name: gate_passes gate_passes_gate_pass_number_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.gate_passes
    ADD CONSTRAINT gate_passes_gate_pass_number_key UNIQUE (gate_pass_number);


--
-- Name: gate_passes gate_passes_pass_token_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.gate_passes
    ADD CONSTRAINT gate_passes_pass_token_key UNIQUE (pass_token);


--
-- Name: gate_passes gate_passes_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.gate_passes
    ADD CONSTRAINT gate_passes_pkey PRIMARY KEY (id);


--
-- Name: inventory_transactions inventory_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_pkey PRIMARY KEY (id);


--
-- Name: issue_reports issue_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.issue_reports
    ADD CONSTRAINT issue_reports_pkey PRIMARY KEY (id);


--
-- Name: issue_reports issue_reports_report_number_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.issue_reports
    ADD CONSTRAINT issue_reports_report_number_key UNIQUE (report_number);


--
-- Name: issue_timeline issue_timeline_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.issue_timeline
    ADD CONSTRAINT issue_timeline_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: request_timeline request_timeline_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.request_timeline
    ADD CONSTRAINT request_timeline_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_assets_category; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_assets_category ON public.assets USING btree (category_id);


--
-- Name: idx_assets_status; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_assets_status ON public.assets USING btree (status);


--
-- Name: idx_assignments_asset; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_assignments_asset ON public.asset_assignments USING btree (asset_id);


--
-- Name: idx_assignments_department; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_assignments_department ON public.asset_assignments USING btree (department_id);


--
-- Name: idx_assignments_user; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_assignments_user ON public.asset_assignments USING btree (assigned_to);


--
-- Name: idx_gate_passes_employee; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_gate_passes_employee ON public.gate_passes USING btree (employee_id);


--
-- Name: idx_gate_passes_status; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_gate_passes_status ON public.gate_passes USING btree (status);


--
-- Name: idx_issue_reports_asset; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_issue_reports_asset ON public.issue_reports USING btree (asset_id);


--
-- Name: idx_issue_reports_reported_by; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_issue_reports_reported_by ON public.issue_reports USING btree (reported_by);


--
-- Name: idx_notifications_read; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_notifications_read ON public.notifications USING btree (is_read);


--
-- Name: idx_notifications_user; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_notifications_user ON public.notifications USING btree (user_id);


--
-- Name: idx_requests_department; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_requests_department ON public.asset_requests USING btree (department_id);


--
-- Name: idx_requests_requested_by; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_requests_requested_by ON public.asset_requests USING btree (requested_by);


--
-- Name: idx_requests_status; Type: INDEX; Schema: public; Owner: asset_user
--

CREATE INDEX idx_requests_status ON public.asset_requests USING btree (status);


--
-- Name: asset_assignments asset_assignments_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_assignments
    ADD CONSTRAINT asset_assignments_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: asset_assignments asset_assignments_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_assignments
    ADD CONSTRAINT asset_assignments_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.users(id);


--
-- Name: asset_assignments asset_assignments_assigned_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_assignments
    ADD CONSTRAINT asset_assignments_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES public.users(id);


--
-- Name: asset_assignments asset_assignments_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_assignments
    ADD CONSTRAINT asset_assignments_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: asset_assignments asset_assignments_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_assignments
    ADD CONSTRAINT asset_assignments_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.asset_requests(id);


--
-- Name: asset_assignments asset_assignments_request_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_assignments
    ADD CONSTRAINT asset_assignments_request_item_id_fkey FOREIGN KEY (request_item_id) REFERENCES public.asset_request_items(id);


--
-- Name: asset_categories asset_categories_specialist_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_categories
    ADD CONSTRAINT asset_categories_specialist_department_id_fkey FOREIGN KEY (specialist_department_id) REFERENCES public.departments(id);


--
-- Name: asset_movements asset_movements_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_movements
    ADD CONSTRAINT asset_movements_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: asset_movements asset_movements_gate_pass_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_movements
    ADD CONSTRAINT asset_movements_gate_pass_id_fkey FOREIGN KEY (gate_pass_id) REFERENCES public.gate_passes(id);


--
-- Name: asset_movements asset_movements_moved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_movements
    ADD CONSTRAINT asset_movements_moved_by_fkey FOREIGN KEY (moved_by) REFERENCES public.users(id);


--
-- Name: asset_request_items asset_request_items_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_request_items
    ADD CONSTRAINT asset_request_items_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: asset_request_items asset_request_items_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_request_items
    ADD CONSTRAINT asset_request_items_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.asset_categories(id);


--
-- Name: asset_request_items asset_request_items_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_request_items
    ADD CONSTRAINT asset_request_items_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.asset_requests(id) ON DELETE CASCADE;


--
-- Name: asset_request_owner_approvals asset_request_owner_approvals_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_request_owner_approvals
    ADD CONSTRAINT asset_request_owner_approvals_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(id);


--
-- Name: asset_request_owner_approvals asset_request_owner_approvals_owner_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_request_owner_approvals
    ADD CONSTRAINT asset_request_owner_approvals_owner_department_id_fkey FOREIGN KEY (owner_department_id) REFERENCES public.departments(id);


--
-- Name: asset_request_owner_approvals asset_request_owner_approvals_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_request_owner_approvals
    ADD CONSTRAINT asset_request_owner_approvals_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.asset_requests(id) ON DELETE CASCADE;


--
-- Name: asset_requests asset_requests_assigned_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_requests
    ADD CONSTRAINT asset_requests_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES public.users(id);


--
-- Name: asset_requests asset_requests_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_requests
    ADD CONSTRAINT asset_requests_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: asset_requests asset_requests_requested_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.asset_requests
    ADD CONSTRAINT asset_requests_requested_by_fkey FOREIGN KEY (requested_by) REFERENCES public.users(id);


--
-- Name: assets assets_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.asset_categories(id);


--
-- Name: assets assets_store_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_store_department_id_fkey FOREIGN KEY (store_department_id) REFERENCES public.departments(id);


--
-- Name: assignment_history assignment_history_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assignment_history
    ADD CONSTRAINT assignment_history_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: assignment_history assignment_history_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assignment_history
    ADD CONSTRAINT assignment_history_assignment_id_fkey FOREIGN KEY (assignment_id) REFERENCES public.asset_assignments(id);


--
-- Name: assignment_history assignment_history_from_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assignment_history
    ADD CONSTRAINT assignment_history_from_user_fkey FOREIGN KEY (from_user) REFERENCES public.users(id);


--
-- Name: assignment_history assignment_history_performed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assignment_history
    ADD CONSTRAINT assignment_history_performed_by_fkey FOREIGN KEY (performed_by) REFERENCES public.users(id);


--
-- Name: assignment_history assignment_history_to_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.assignment_history
    ADD CONSTRAINT assignment_history_to_user_fkey FOREIGN KEY (to_user) REFERENCES public.users(id);


--
-- Name: department_categories department_categories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.department_categories
    ADD CONSTRAINT department_categories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.asset_categories(id) ON DELETE CASCADE;


--
-- Name: department_categories department_categories_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.department_categories
    ADD CONSTRAINT department_categories_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE CASCADE;


--
-- Name: gate_pass_timeline gate_pass_timeline_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.gate_pass_timeline
    ADD CONSTRAINT gate_pass_timeline_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id);


--
-- Name: gate_pass_timeline gate_pass_timeline_gate_pass_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.gate_pass_timeline
    ADD CONSTRAINT gate_pass_timeline_gate_pass_id_fkey FOREIGN KEY (gate_pass_id) REFERENCES public.gate_passes(id) ON DELETE CASCADE;


--
-- Name: gate_passes gate_passes_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.gate_passes
    ADD CONSTRAINT gate_passes_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: gate_passes gate_passes_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.gate_passes
    ADD CONSTRAINT gate_passes_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.users(id);


--
-- Name: inventory_transactions inventory_transactions_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: inventory_transactions inventory_transactions_performed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_performed_by_fkey FOREIGN KEY (performed_by) REFERENCES public.users(id);


--
-- Name: issue_reports issue_reports_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.issue_reports
    ADD CONSTRAINT issue_reports_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: issue_reports issue_reports_reported_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.issue_reports
    ADD CONSTRAINT issue_reports_reported_by_fkey FOREIGN KEY (reported_by) REFERENCES public.users(id);


--
-- Name: issue_timeline issue_timeline_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.issue_timeline
    ADD CONSTRAINT issue_timeline_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id);


--
-- Name: issue_timeline issue_timeline_issue_report_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.issue_timeline
    ADD CONSTRAINT issue_timeline_issue_report_id_fkey FOREIGN KEY (issue_report_id) REFERENCES public.issue_reports(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: request_timeline request_timeline_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.request_timeline
    ADD CONSTRAINT request_timeline_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id);


--
-- Name: request_timeline request_timeline_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.request_timeline
    ADD CONSTRAINT request_timeline_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.asset_requests(id) ON DELETE CASCADE;


--
-- Name: users users_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: asset_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO asset_user;


--
-- PostgreSQL database dump complete
--

\unrestrict 1jnTGufhyd8agXpPck9LTUhrVugf26OyhM3DkxPBHPTL0l1lYiYEJhljgJ2VRqT

